==
<!-- Footer -->
<footer id="footer">
    <section>
        <h2>Author</h2>
        <p>My name is Javier Cabezas and I'm a PHP/Python (mainly) backend developer currently living in Santiago, Chile.</p>
        <p>My interests are Software, Math and other nerdy stuff (such as videogames!).</p>
        <ul class="actions">
            <li><a href="about" class="button">Learn More</a></li>
        </ul>
    </section>
    <section>
        <h2>Contacting me</h2>
          
        <ul class="icons">
            <li>
                <a href="https://www.linkedin.com/in/javier-cabezas-a1bb6a116/" class="icon fa-linkedin alt">
                    <span class="label">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="https://www.hackerrank.com/jcleyton" class="icon fa-code alt">
                    <span class="label">Hackerrank</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/JavierCabezas" class="icon fa-github alt">
                    <span class="label">GitHub</span>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/u/0/+JavierCabezas" class="icon fa-google-plus alt">
                    <span class="label">Google +</span>
                </a>
            </li>
            <li>
                <a href="https://t.me/jcleyton" class="icon fa-telegram alt">
                    <span class="label">Telegram</span>
                </a>
            </li>
            <li>
                <a href="mailto:jcleyton@gmail.com" class="icon fa-envelope alt">
                    <span class="label">Send Email</span>
                </a>
            </li>
        </ul>
    </section>
    <p class="copyright">My software development blog. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
</footer>